@import "tailwindcss";

@media print {
  body {
    background-color: white !important;
    color: black !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  header, nav, button, .no-print {
    display: none !important;
  }
  #printable-application-doc {
    box-shadow: none !important;
    margin: 0 auto !important;
    width: 100% !important;
    max-width: 100% !important;
    padding: 10mm !important;
  }
}
